ul.bjqs {
    display: none;
    list-style: none;
    overflow: hidden;
    padding: 0;
    position: absolute;
    margin-top: 0px;
}

li.bjqs-slide {
    display: none;
    position: absolute;
}

ul.bjqs-controls {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 9999;
}

ul.bjqs-controls.v-centered li a {
    background: transparent;
	color: #5d5d5d;
	display: block;
    font-size: 48px;
	padding-left: 5px;
    padding-right: 5px;
    position: absolute;
	text-decoration: none;
}

ul.bjqs-controls.v-centered li a:hover {
	background: #5d5d5d;
    color: #c6c6c6
}

ul.bjqs-controls.v-centered li.bjqs-next a {
    right: 0;
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
    left: 0;
}

ol.bjqs-markers {
    list-style: none;
    margin-top: 10px;
    padding: 0;
    width: 100%;
}

ol.bjqs-markers.h-centered {
    text-align: center;
}

ol.bjqs-markers li {
    display: inline;
}

ol.bjqs-markers li a {
    background: #5d5d5d;
    border: 1px solid #5d5d5d;
    border-radius: 50%;
	color: #5d5d5d;
    display: inline-block;
    font-size: 8px;
    height: 10px;
    margin: 5px;
	text-decoration: none;
    width: 10px;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover {
    background: #c6c6c6;
    color: #c6c6c6;
    border: 1px solid #c6c6c6;
}
